# Node modules
node_modules/

# Environment variables
.env

# Database configuration file with sensitive information
config.js

# Build directory
/build

# Log files
*.log

# Operating system files
.DS_Store # macOS specific
Thumbs.db # Windows specific

# Editor directories and files
.idea/ # IntelliJ IDEA
*.sublime-workspace # Sublime Text
*.swp # Vim
.vscode/ # Visual Studio Code settings